# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

# Bin Output directory
bin/

# IDE settings file
.settings/

# Ignore Test folder because it is not ready yet to push
src\test

# Ignore default and user settings file, this should be created by the first execution for every individual user
defaultSettings.ctKnSettings
userSettings.ctKnSettings