# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Test folder because it is not ready yet to push
src\test

# Ignore default and user settings file, this should be for be created by
# execution for every individual user
defaultSettings.ctKnSettings
userSettings.ctKnSettings